<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Cinema Info</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link href="/static/css/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Helper CSS -->
    <link href="/static/css/assets/css/helper.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="/static/css/assets/css/main.css" rel="stylesheet">
    <link href="/static/css/select.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form th:object="${cinema}" th:action="@{'/cinema/edit/'+${cinema.id}}" method="post">
                <div class="login-form">
                    <h4 class="login-title">Edit Cinema Information</h4>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-20">
                            <label>Cinema Name*</label>
                            <input class="mb-0" name="title" type="text" th:value="*{title}" maxlength="40"
                                   required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                        </div>
                        <div class="col-md-6 col-12 mb-20">
                            <label>Telephone number*</label>
                            <input class="mb-0" type="text" name="tel" th:value="*{tel}" maxlength="15"
                                   required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                        </div>
                        <div class="col-md-12 mb-20">
                            <label>Location*</label>
                            <input class="mb-0" type="text" name = "location" th:value="*{location}" maxlength="90"
                                   required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                        </div>
                        <div class="col-md-4 col-12 mb-20">
                            <label class="col-md-2 control-label">Refund</label>
                            <select name="refund">
                                <option value="true">yes</option>
                                <option value="false">no</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-12 mb-20">
                            <label class="col-md-2 control-label">WIFI Access</label>
                            <select name="wifi">
                                <option value="true">yes</option>
                                <option value="false">no</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-12 mb-20">
                            <label class="col-md-2 control-label">Change screening</label>
                            <select name="change_time">
                                <option value="true">yes</option>
                                <option value="false">no</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-12 mb-20">
                            <label class="col-md-2 control-label">Snack</label>
                            <select name="snack">
                                <option value="true">yes</option>
                                <option value="false">no</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-12 mb-20">
                            <label class="col-md-2 control-label">3D Glasses</label>
                            <select name="three_D_glass">
                                <option value="true">yes</option>
                                <option value="false">no</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-12 mb-20">
                            <label class="col-md-2 control-label">Rest Area</label>
                            <select name="rest_area">
                                <option value="true">yes</option>
                                <option value="false">no</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-12 mb-20">
                            <label>Children Discount</label>
                            <select name="children_discount">
                                <option value="true">yes</option>
                                <option value="false">no</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <a href="#" onClick="javascript:history.back(-1);">
                                <button class="register-button mt-0">Back</button>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <input class="register-button mt-0" type="submit" value="Save" id="submit">
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>
