<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Cinema Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{../static/css/manage.css}">
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link th:href="@{../static/css/plugins.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../static/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../static/css/responsive.css}" rel="stylesheet" type="text/css">
    <link href="/static/css/style2.css" rel="stylesheet" type="text/css">
    <script th:src="@{../static/js/vendor.js}"></script>
    <script th:src="@{../static/js/plugins.js}"></script>
    <script th:src="@{../static/js/switcher.js}"></script>
    <script th:src="@{../static/js/app.js}"></script>

</head>
<body>
<section id="about" class="overview-area text-center">
    <div class="container">
        <div class="row">
            <div class="section-title col-sm-8 col-sm-offset-2">
                <h2 class="text-uppercase branding-color">Your Cinema
                    <span>
							<i class="fa fa-circle"></i>
							<i class="fa fa-circle"></i>
							<i class="fa fa-circle"></i>
						</span>
                </h2>
                <p> If you are a fresh user, you can add your cinema information here.
                If you have already added your cinema information, you can edit it.</p>
            </div>

            <div class="overviews">

                    <div class="col-md-6 col-sm-6" th:if="*{hasCinema}=='false'">
                        <a href="/addCinema">
                            <div class="single">
                                <i class="fa fa-plus-circle"></i>
                                <h4 class="text-uppercase">Add</h4>
                                <p>Add your cinema Information</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6" th:if="*{hasCinema}=='true'" th:each="cinema:${cinemas}">
                        <a th:href="@{'/cinema/toEdit/'+${cinema.id}}">
                            <div class="single" >
                                <i class="fa fa-edit"></i>
                                <h4 class="text-uppercase">Edit</h4>
                                <p>Edit your cinema Information</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-sm-6">
                            <div class="single" th:each="cinema:${cinemas}">
                                <i class="fa fa-info-circle"></i>
                                <h4 class="text-uppercase" th:text="${cinema.title}">Cinema</h4>
                                <p>
                                <span><b>Location:</b></span><span th:text="${cinema.location}"></span><br>
                                <span><b>Tel:</b></span><span th:text="${cinema.tel}"></span>
                                <span><b>Refund:</b></span><span th:text="${cinema.refund}"></span><br>
                                <span><b>Change time:</b></span><span th:text="${cinema.change_time}"></span>
                                <span><b>Snack:</b></span><span th:text="${cinema.snack}"></span>
                                <span><b>3D Glasses:</b></span><span th:text="${cinema.three_D_glasses}"></span><br>
                                <span><b>WIFI:</b></span><span th:text="${cinema.wifi}"></span>
                                <span><b>Rest Area:</b></span><span th:text="${cinema.rest_area}"></span>
                                <span><b>Children Discount:</b></span><span th:text="${cinema.children_discount}"></span><br>
                                </p>
                            </div>
                    </div>


            </div>
        </div>
        <div class="row row2">
            <div class="col-md-10"></div>
            <div class="col-md-1">
                <a href="/manage">
                    <button class="button2 btn btn-primary">Back</button>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>