<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <form class="form-horizontal" method="post" action="/cinemaAdmin/login" >
                <!-- 表单区域-->
                <fieldset>
                    <!--表单主题-->
                    <legend>用户注册</legend>
                    <!-- 每一个form-group都可以自定义布局-->
                    <div class="form-group">
                        <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                        <label class="col-md-2 control-label" for="mid">username</label>
                        <div class="col-md-4">
                            <input class="form-control" name="username" id="mid" type="text"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                        <label class="col-md-2 control-label" for="password">password</label>
                        <div class="col-md-4">
                            <input class="form-control" name="password" id="password" type="password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <input class="btn btn-primary" type="submit" value="sign in"/>
                            <a href="/register"><input class="btn btn-warning" type="reset" value="register"/></a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

</body>
</html>

</body>
</html>