<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{../static/css/manage.css}">
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link th:href="@{../static/css/plugins.css}" rel="stylesheet" type="text/css">

    <link th:href="@{../static/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../static/css/responsive.css}" rel="stylesheet" type="text/css">
    <script th:src="@{../static/js/vendor.js}"></script>

    <script th:src="@{../static/js/plugins.js}"></script>

    <script th:src="@{../static/js/switcher.js}"></script>
    <script th:src="@{../static/js/app.js}"></script>

</head>
<body>
<section id="about" class="overview-area text-center">
    <div class="container">
        <div class="row">
            <div class="section-title col-sm-8 col-sm-offset-2">
                <h2 class="text-uppercase branding-color">Cinema Management System
                    <span>
							<i class="fa fa-circle"></i>
							<i class="fa fa-circle"></i>
							<i class="fa fa-circle"></i>
						</span>
                </h2>
                <p> Welcome</p>
            </div>

            <div class="overviews">
                <div class="col-md-3 col-sm-6">
                    <div class="single">
                        <a href="/cinemaAdmin/allMovies">
                            <i class="fa fa-tags"></i>
                        </a>
                        <h4 class="text-uppercase">Movie</h4>
                        <p>Check movie information of your cinema</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single">
                        <a href="/screen/getAllScreens">
                            <i class="fa fa-tags"></i>
                        </a>
                        <h4 class="text-uppercase">Screen</h4>
                        <p>Check screen information of your cinema</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single">
                        <a href="/cinema/getAllCinema">
                            <i class="fa fa-tags"></i>
                        </a>
                        <h4 class="text-uppercase">Cinema</h4>
                        <p>Check oe edit your own cinema information</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single">
                        <a href="cinemaAdmin/allScreenings">
                            <i class="fa fa-tags"></i>
                        </a>
                        <h4 class="text-uppercase">Screening</h4>
                        <p>Check screening information of your cinema</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single">
                        <a href="/ticket/sellingweek">
                             <i class="fa fa-tags"></i>
                        </a>
                        <h4 class="text-uppercase">Turnover</h4>
                        <p>Check screening information of your cinema</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>