<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{../static/css/plugins.css}" rel="stylesheet" type="text/css">

    <!-- ========== MAIN CSS ========== -->
    <link th:href="@{../static/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../static/css/responsive.css}" rel="stylesheet" type="text/css">
    <link href="/static/css/style2.css" rel="stylesheet" type="text/css">
    <script th:src="@{../static/js/vendor.js}"></script>

    <script th:src="@{../static/js/plugins.js}"></script>

    <script th:src="@{../static/js/switcher.js}"></script>
    <script th:src="@{../static/js/app.js}"></script>
    <title>Mine</title>
</head>
<body>
<section id="about" class="overview-area text-center">
    <div class="container">
        <div class="row">
            <div class="section-title col-sm-8 col-sm-offset-2">
                <h2 class="text-uppercase branding-color">Mine
                    <span>
							<i class="fa fa-circle"></i>
							<i class="fa fa-circle"></i>
							<i class="fa fa-circle"></i>
						</span>
                </h2>
                <p> Here is some of your information</p>
            </div>

            <div class="overviews">
                <div class="col-md-3 col-sm-6">
                    <div class="single">
                        <a href="/card/toBindCard">
                            <i class="fa fa-credit-card"></i>
                        </a>
                        <h4 class="text-uppercase">Bank Card</h4>
                        <p>Check your bank card information</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single">
                        <i class="fa fa-star"></i>
                        <h4 class="text-uppercase">Collection</h4>
                        <p>Check your collections</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single">
                        <a href="/demo/allorders">
                        <i class="fa fa-user"></i>
                        </a>
                        <h4 class="text-uppercase">All orders</h4>
                        <p>Check All of your purchase records</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single">
                        <i class="fa fa-life-ring"></i>
                        <h4 class="text-uppercase">fully support</h4>
                        <p>For more contact 010-68132777</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row2">
            <div class="col-md-10"></div>
            <div class="col-md-1">
                <a href="#" onClick="javascript:history.back(-1);">
                    <button class="button2 btn btn-primary">Back</button>
                </a>
            </div>
        </div>
    </div>
</section>


</body>
</html>