<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Movie Info</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link href="/static/css/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Helper CSS -->
    <link href="/static/css/assets/css/helper.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="/static/css/assets/css/main.css" rel="stylesheet">
    <link href="/static/css/select.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="/cinemaAdmin/addMovies" method="post">
                <div class="login-form">
                    <h4 class="login-title">Add Movie Information</h4>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-20">
                            <label>Movie title*</label>
                            <input class="mb-0" name="title" type="text" maxlength="18"
                                   required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                        </div>
                        <div class="col-md-6 col-12 mb-20">
                            <label>Certificate*</label>
                            <input class="mb-0" type="text" name="certificate" maxlength="8"
                                   required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                        </div>
                        <div class="col-md-12 mb-20">
                            <label>Blurb*</label>
                            <input class="mb-0" type="blurb" name = "blurb" maxlength="120"
                                   required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                        </div>
                        <div class="col-md-12 mb-20">
                            <label>Director*</label>
                            <input class="mb-0" type="text" name = "director" maxlength="80"
                                   required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                        </div>
                        <div class="col-md-12 mb-20">
                            <label>Actors*</label>
                            <input class="mb-0" type="text" name = "actors" maxlength="80"
                                   required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                        </div>
                        <div class="col-md-4 mb-20">
                            <label>Show time*</label>
                            <input class="mb-0" type="datetime" name = "showtime">
                        </div>
                        <div class="col-md-4 mb-20">
                            <label>Duration*</label>
                            <input class="mb-0" type="text" name = "duration" oninput="value=value.replace(/[^\d]/g,'')"
                                   required oninvalid="setCustomValidity('This field is required.');"
                                   οninput="setCustomValidity('');" placeholder="Please enter a number">
                        </div>
                        <div class="col-md-4 mb-20">
                            <label>Type*</label>
                            <input class="mb-0" type="text" name = "type" maxlength="80"
                                   required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                        </div>
                        <div class="col-md-6 mb-20">
                            <label>Language*</label>
                            <input class="mb-0" type="text" name = "language" maxlength="18"
                                   required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                        </div>
                        <div class="col-md-6 mb-20">
                            <label>Poster*</label>
                            <input class="mb-0" type="url" name = "poster" maxlength="980"
                                   oninvalid="setCustomValidity('This field is required to be a url');" οninput="setCustomValidity('');">
                        </div>
                    </div>
                    <h4 class="login-title">You must add a screening for this movie</h4>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-20">
                            <label>Screen number:*</label>
                            <input class="mb-0" name="screen_number" type="text" maxlength="2" oninput="value=value.replace(/[^\d]/g,'')"
                                   required oninvalid="setCustomValidity('This field is required.');"
                                   οninput="setCustomValidity('');" placeholder="Please enter a number">
                        </div>
                        <div class="col-md-6 mb-20">
                            <label>Price*</label>
                            <input class="mb-0" type="text" name = "price"maxlength="5"
                                   required oninvalid="setCustomValidity('This field is required.');"
                                   οninput="setCustomValidity('');" placeholder="Please enter a number">
                        </div>
                        <div class="col-md-6 mb-20">
                            <label>Start time*</label>
                            <input class="mb-0" type="datetime" name = "start_time" placeholder="yyyy-MM-dd HH:MM">
                        </div>
                        <div class="col-md-6 mb-20">
                            <label>End time*</label>
                            <input class="mb-0" type="datetime" name = "end_time" placeholder="yyyy-MM-dd HH:MM">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <a href="#" onClick="javascript:history.back(-1);">
                                <button class="register-button mt-0">Back</button>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <input class="register-button mt-0" type="submit" value="Save" id="submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>
