<!DOCTYPE html>
<html>
<head>
    <title>Register</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="/static/css/form.css" type="text/css" media="all">
</head>
<body>
<div class="banner">
    <div class="agileinfo-dot">
        <div class="w3layoutscontaineragileits">
            <h1>Sign Up</h1>
            <form method="post" action="/cinemaAdmin/add" >
                <input class="form-control" name="username"  type="text" maxlength="18"
                       required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                <input class="form-control" name="password" type="password" maxlength="40"
                       required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                <ul class="agileinfotickwthree">
                    <li>
                        <a href="/login">Back</a>
                    </li>
                </ul>
                <div class="aitssendbuttonw3ls">
                    <input type="submit" value="Register">
                    <div class="clear"></div>
                </div>
            </form>
        </div>

        <div class="w3footeragile">
            <p> &copy; Group 9</a></p>
        </div>

    </div>
</div>
</body>
<!-- //Body -->
</html>
