<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!--Separate four columns in the page-->
        <div class="col-md-4"></div>

        <div class="col-md-6"><h1>Screenings in your cinema</h1></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <!--Separate four columns in the page-->
        <div class="col-md-2"></div>
        <div class="col-md-8"><div class="col-md-3"><a href="/cinemaAdmin/addScreeningForm"><button type="button" class="btn btn-primary">Add a new screening</button></a></div><div class="col-md-3"><a href="/cinemaAdmin/searchScreeningForm"><button type="button" class="btn btn-primary">Search screenings</button></a></div></div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Screen number</th>
                        <th>Movie title</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Price</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="screening:${screenings}">
                        <td th:text="${screening.screen.num}"></td>
                        <td th:text="${screening.movie.title}"></td>
                        <td th:text="${#dates.format(screening.start_time, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${#dates.format(screening.end_time, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${screening.price}"></td>
                        <td><a th:href=${'/screenings/toEditScreening/'+screening.id}><button type="button" class="btn btn-primary">Edit</button></a></td>
                        <td><a th:href=${'/screenings/delete/'+screening.id}> <button type="button" class="btn btn-primary">Delete</button></a></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"><a href="/manage"><button type="button" class="btn btn-primary">Back</button></a></div>
        <div class="col-md-10"></div>
    </div>
</div>
</body>
</html>