<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Screen Info</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link href="/static/css/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Helper CSS -->
    <link href="/static/css/assets/css/helper.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="/static/css/assets/css/main.css" rel="stylesheet">
    <link href="/static/css/select.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="/screen/add" method="post">
                <div class="login-form">
                    <h4 class="login-title">Add Screen Information</h4>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-20">
                            <label>Screen No.*</label>
                            <input class="mb-0" name="num" type="text">
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <a href="#" onClick="javascript:history.back(-1);">
                                <button class="register-button mt-0">Back</button>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <input class="register-button mt-0" type="submit" value="Save" id="submit">
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>
