<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
    <link href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div  class = "row">
    <div class = "col-md-3"></div>
    <div class = "col-md-6">
        Available:<img src="/image/seat.png"  alt="available seat" />
        Not Available:<img src="/image/notAvailableSeat.png"  alt="not Available" />
        Chosen:<img src="/image/chosenSeat.png" alt="chosen"/>
    </div>
    <div class = "col-md-3"></div>
</div>

</body>
</html>