<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!--Separate four columns in the page-->
        <div class="col-md-4"></div>
        <div class="col-md-6"><h1>Tickets Record</h1></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <!--Separate four columns in the page-->
        <div class="col-md-2"></div>
        <div class="col-md-2"><a href="/demo/userMovie"> <button type="button" class="btn btn-primary">Back</button></a></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Cinema name</th>
                        <th>Cinema location</th>
                        <th>Screen</th>
                        <th>Row</th>
                        <th>Column</th>
                        <th>Start Time</th>
                        <th>Type</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ticket:${tickets}">
                        <td th:text="${ticket.seat.screen.cinema.title}"></td>
                        <td th:text="${ticket.seat.screen.cinema.location}"></td>
                        <td th:text="${ticket.seat.screen.num}"></td>
                        <td th:text="${ticket.seat.row}"></td>
                        <td th:text="${ticket.seat.col}"></td>
                        <td th:text="${#dates.format(movie.showtime, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${ticket.type}"></td>
                        <td th:text="${ticket.price}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>