<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bind your bank card</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link href="/static/css/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Helper CSS -->
    <link href="/static/css/assets/css/helper.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="/static/css/assets/css/main.css" rel="stylesheet">
    <link href="/static/css/style2.css" rel="stylesheet" type="text/css">
    <link href="/static/css/select.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form th:action=${'/card/verifyPassword/'+ticket_id} method="post">
                <div class="login-form">
                    <h4 class="login-title">Verify Password</h4>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-20">
                            <label>Bank card password*</label>
                            <input class="mb-0" name="password" type="password" maxlength="18"
                                   required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                        </div>
                        <div class="col-md-4">
                            <input class="register-button mt-0" type="submit" value="Save" id="submit">
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>